.founders {
  background-image: url('/images/team-bg-panel-2.png');
  background-size: 100% 100%;
  padding: 5em 4em;
  margin: 2em 0;
}
.founders p {
  font-size: 0.7em;
  margin-bottom: 0.5em;
  color: white;
}

.team li {
  font-size: 0.8em;
}

.team p {
  margin-bottom: 0;
}