
@font-face {
	font-family: 'electrolizeregular';
	src: url('electrolize-regular-webfont.woff2') format('woff2'),
			 url('electrolize-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fontastique';
	src: url('Fontastique.woff2') format('woff2'),
			 url('Fontastique.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}